<nav>
  <div class="site-title">
    <a href="/"
      ><img
        src="https://media.giphy.com/media/gOQ6EgtAiwXde/giphy.gif"
        width="40"
      />Project Coffee</a
    >
  </div>
  <ul>
    <li><a href="/">NewsFeed</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/store">Store</a></li>
    <li><a href="/create-post">Post Coffee</a></li>
  </ul>
</nav>
