<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <nav>
      <div class="site-title">
        <a href="/">Project Coffee</a>
      </div>
      <ul>
        <li><a href="/">NewsFeed</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/posts/create">Post Coffee</a></li>
      </ul>
    </nav>
    <div class="posts content">
      <h2>Error</h2>
    </div>
  </body>
</html>
