<html lang="en">
   <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
      <div id="header" align="center">
        <img src="https://media.giphy.com/media/gOQ6EgtAiwXde/giphy.gif" width="100"/>
        <p><b>Project Coffee<b></p>
          <p>Made with: </p>
          <div>
            <img src="https://img.shields.io/badge/-Javascript-black" alt="">
            <img src="https://img.shields.io/badge/-Node-black" alt="">
            <img src="https://img.shields.io/badge/-EJS-black" alt="">
            <img src="https://img.shields.io/badge/-CSS-black" alt="">
            <img src="https://img.shields.io/badge/-ExpressJS-black" alt="">
            <img src="https://img.shields.io/badge/-MongoDB-black" alt="">
            <img src="https://img.shields.io/badge/-Giphy-black" alt="">
            <img src="https://img.shields.io/badge/-Google Font-black" alt="">
            <img src="https://img.shields.io/badge/-Google Icon-black" alt="">
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
