<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="posts content">
      <h2>posts</h2>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
