<html lang="en">
   <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="storeCoffee content">
      <div id="header" align="center">
        <p>This is for Store</p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>